@import './basic/reset.scss';
@import './basic/fonts.scss';
@import './modules/variables.scss';
body{
    background: $body-color;
    font-family: $font-nino;
    //Header
    header{
        width: $percent100;
        height: 80px;
        display: $flex;
        background: $header-color;
        //check
        position: $fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        //check 
        @include flex-property(row, space-between);
        padding-left: 20px;
        .menu{
            // SIDEBAR CSS
            .sidebar {
                height: 100%;
                width: 0;
                position: fixed;
                top: 0;
                left: 0;
                background-color: $header-color;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                z-index: 100001;
                a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                    &:hover {
                        color: #f1f1f1;
                    }
                }
                .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                }
                .navbar-nav{
                    display: $flex;
                    @include flex-property(column, flex-start);
                    .dispNone{
                        visibility: hidden;
                    }
                    .dropdown-toggle{
                        &::after{
                            color: $yellow-color;
                        }
                    }
                }
              }
            //   //SIDEBAR CSS END
            .burger-icon{
                font-size: 1.5em;
            }
            height: $percent100;
            display: $flex;
            @include flex-property(row, flex-start);
            @include flex-align(center, center);
            .menu-options{
                margin-left: 35px;
                display: $flex;
                >div{
                    margin-right: 10px;
                }
                >div >a{
                    margin-right: $margin-5;
                }
                .menu-content{
                    display: $flex;
                    @include flex-property(row, flex-start);
                    @include flex-align(center, center);
                    li{
                        a{
                            margin-right: 10px;
                        }
                    }
                }
                .menu-contact{
                    display: $flex;
                    @include flex-align(center, center);
                }
            }
        }
        .logo{
            img{
                margin-bottom: $margin-5;
            }
            display: $flex;
            @include flex-property(column, flex-start);
            @include flex-align(center, center);
        }
        .options{
            >div:not(#cart){
                margin: 0 20px;
            }
            display: $flex;
            @include flex-property(row, space-between);
            @include flex-align(center, center);
            .cart{
                width : 76px;
                height: $percent100;
                background: $yellow-color;
                display: $flex;
                @include flex-align(center, center);
                img{
                    width: 20px;
                }
            }
            .sign{
                display: $flex;
                @include flex-align(center, center);
                img{
                    margin-right: $margin-5;
                    width: 20px;
                }
            }
        }
    }
    //main
    main{
        width: $percent90;
        margin: auto;
        margin-top: $margin100;
        .slider{
            width: $percent100;
            margin-bottom: $margin03;
            display: $flex;
            .left{
                margin-right: 1%;
                box-shadow: 0 0 20px $color-shadow;
                .carousel-item-f{
                    max-width: 460px;
                    height: 270px;
                    img{
                        height: 100%;
                    }
                }
            }
            .right{
                width: 100%/2;
                display: $flex;
                height: $percent100;
                .first{
                    margin-right: 1%;
                }
                >div{
                    box-shadow: 0 0 20px $color-shadow;
                }
                .carousel-item-s{
                    width: 223px;
                    height: 270px;
                }
            }
        }
        .posts{
            width: $percent100;
            display: $flex;
            margin-bottom: $margin03*2;
            @include flex-property(row, space-between);
            .post{
                width: 100%/3;
                margin-right: $margin02;
                height: $percent100;
                box-shadow: 0 0 20px $color-shadow;
                border-radius: 40px 40px 0 0;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    height: 80%;
                }
                .card{
                    width: $percent100;
                    @include position(relative);
                    border-radius: 40px 40px 0 0;
                    .imageover{
                        width: $percent100;
                        display: $flex;
                        @include flex-property(row, space-between);
                        @include position(absolute);
                        @include position-change(8%, 0);
                        z-index: 10;
                        .left-div{
                            display: $flex;
                            @include flex-align(center, center);
                            .rect{
                                width: 3px;
                                height: 50px;
                                background: $yellow-color;
                                margin-right: $margin-5;
                            }
                            .text{
                                .text-p{
                                    font-family: $font-phone;
                                    font-size: $font-16;
                                    margin-bottom: $margin-5;
                                }
                                .text-p2{
                                    font-size: $font-12;
                                    color: $color-gray;
                                }
                            }
                        }
                        .right-div{
                            img{
                                height: $percent60;
                                margin-right: $margin-5;
                            }
                        }
                    }
                    .card-slider{
                        width: $percent100;
                        .carousel{
                            width: $percent100;
                        }
                    }
                    .card-body{
                        display: $flex;
                        padding: 1rem;
                        h3{
                            font-family: $font-phone;
                            font-size: $font-16;
                        }
                        h6{
                            font-size: $font-14;
                            color: $color-gray;
                        }
                        .price{
                            @extend .priceInfo;
                        }
                    }
                }
            }
        }
        
    }
    .banner{
        max-width: $percent100;
        margin-bottom: $margin03*2;
        .banner-content{
            @include position(relative);
            .banner-text{
                max-width: 40%;
                text-align: center;
                h2{
                    font-size: $font-45;
                    color: $header-color;
                    margin-bottom: $margin02;
                }
                .type-buttons{
                    display: $flex;
                    @include flex-property(row, space-between);
                    button{
                        background: $header-color;
                    }
                }
                @include position(absolute);
                @include position-change(50%, 50%);
                transform: translate(-50%, -50%);
            }
            img{
                width: $percent100;
            }
        }
        
    }
    .text{
        p{
            font-size: $font-29;
            text-align: center;
        }
    }
    .post-slider-section{
        display: $flex;
        @include flex-property(column, space-between);
        @include flex-align(flex-start, center);
        background: $header-color;
        box-shadow: 0 0 20px $color-shadow;
        .card{
            @include position(relative);
            .post-imageover{
                width: 100%;
                background: $color-gray-opacity;
                display: $flex;
                @include flex-property(row, space-between);
                @include flex-align(center, center);
                @include position(absolute);
                @include position-change($percent80, 0);
                color: $header-color;
                .post-rect{
                    width: 14px;
                    height: 50px;
                    background: $yellow-color;
                    margin-right: $margin-5;
                }
            }
        }
        .left-caret-pos{
            color: $yellow-color;
            font-size: 5em;
            @include position(relative);
            @include position-change(0, -$percent95);
        }
        .right-caret-pos{
            color: $yellow-color;
            font-size: 5em;
            @include position(relative);
            @include position-change(0, $percent95);
        }
        .yellow-rect{
            width: 200px;
            height: 5px;
            background: $yellow-color;
            
        }
    }
    .one-post-slider{
        margin: $margin03 0;
        .card-info{
            width: 700px;
            text-align: center;
            margin: auto;
            background: $header-color;
            box-shadow: 5px 5px 20px $color-shadow;
            .title{
                p{
                    padding-top: $margin03;
                }
            }
            >div{
                
                padding-bottom: $margin03;
            }
        }
    }
    .input{
        width: $percent90;
        margin: auto;
        margin-top: $margin03;
        margin-bottom: $margin03;
        display: $flex;
        @include flex-property(row, space-between);
        @include flex-align(center, center);
        .form-control{
            height: 50px;
            &::placeholder{
                color: $input-text-color;
            }
        }
        #basic-addon2{
            background: $yellow-color;
            color: $header-color;
            width: 100%;
        }
        .input-group{
            width: $percent95;
            box-shadow: 0 0 20px $color-shadow;
        }
        .up-arrow{
            @extend .upArrow;
        }
    }
    footer{
        background: $header-color;
        display: $flex;
        height: 150px;
        padding: 20px 40px;
        @include flex-property(row, space-between);
        .main-footer{
            display: $flex;
            height: 100%;
            @include flex-property(column, space-between);
            .top{
                font: $font-16;
                .links{
                    a{
                        font-size: $font-14;
                        &::after{
                            content: '/';
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                        &:last-child::after{
                            content: '';
                        }
                    }
                    
                }
            }
        }
        >div{
            width: 50%;
        }
        .social-networks{
            display: $flex;
            @include flex-property(column, space-between);
            @include flex-align(flex-start, center);
            .icons{
                margin-top: 5%;
            }
        }
        .contact{
            display: $flex;
            height: $percent100;
            @include flex-property(column, space-between);
            @include flex-align(flex-start, flex-end);
            >div{
                height: $percent100;
            }
            p{
                font-size: $font-12;
                color: $input-text-color;
            }
        }
    }
}
//post styles
// CAROUSEL
.carousel {
    position: relative;
  }
  .carousel-item img {
    object-fit: cover;
  }
  #carousel-thumbs {
    background: rgba(255,255,255,.3);
    bottom: 0;
    left: 0;
    padding: 0 50px;
    right: 0;
  }
  #carousel-thumbs img {
    border: 5px solid transparent;
    cursor: pointer;
  }
  #carousel-thumbs img:hover {
    border-color: rgba(255,255,255,.3);
  }
  #carousel-thumbs .selected img {
    border-color: #fff;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }
  @media all and (max-width: 767px) {
    .carousel-container #carousel-thumbs img {
      border-width: 3px;
    }
  }
  @media all and (min-width: 576px) {
    .carousel-container #carousel-thumbs {
      position: absolute;
    }
  }
  @media all and (max-width: 576px) {
    .carousel-container #carousel-thumbs {
      background: #ccccce;
    }
  }
//   POST
.post-body{
    section{
        margin-top: $margin100;
        display: $flex;
        @include flex-property(row, center);
        .post-left{
            width: 40%;
            margin-left: 5%;
        }
        .back{
            .up-arrow{
                @extend .upArrow;
            }
        }
        .post-right{
            .cloth-info{
                >div, h5, h2{
                    margin-bottom: $margin03;
                }
                h5{
                    font-size: $font-12;
                    color: $color-gray;
                }
                h2{
                    font-family: $font-phone;
                    font-size: $font-29;
                }
                .circles{
                    display: $flex;
                    >div{
                        margin-right: $margin02;
                    }
                    .full{
                        width: 15px;
                        height: 15px;
                        background: $yellow-color;
                        border-radius: 50%;
                    }
                    .onlyBorder{
                        width: 15px;
                        height: 15px;
                        border: 1px solid $yellow-color;
                        border-radius: 50%;
                    }
                    p{
                        font-size: $font-12;
                        color: $yellow-color;
                    }
                }
                .post-page-text{
                    font-size: $font-16;
                    color: $color-gray;
                    p{
                        margin: $margin02 0;
                    }
                }
            }
            .cloth-details{
                margin-bottom: $margin03;
                .sizes{
                    display: $flex;
                    a{
                        >div{
                            width: 40px;
                            height: 30px;
                            &:hover{
                                border: 2px solid $yellow-color;
                            }
                            margin-right: $margin02;
                            display: $flex;
                            @include flex-align(center, center);
                        }
                    }
                }
                .colors{
                    display: $flex;
                    >div{
                        margin-right: $margin02;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background: $yellow-color;
                    }
                }
            }
            .cloth-buy{
                display: $flex;
                @include flex-property(row, space-between);
                align-items: center;
                .addToCart{
                    display: $flex;
                    @include flex-align(center, center);
                    .rect{
                        background: $yellow-color;
                        .cart-text{
                            padding: 10px;
                            display: $flex;
                            @include flex-property(row, space-between);
                            @include flex-align(center, center);
                            img{
                                width: 1.5em;
                                margin: $margin-5;
                            }
                        }
                    }
                    .save-icon{
                        margin-left: 10px;
                    }
                }
                .price{
                    @extend .priceInfo;
                    @include flex-property(column, flex-start);
                    p{
                        text-align: start;
                    }
                }
            }
        }
    }
    
    
}
@import './main/media.scss';