@import './basic/reset.scss';
@import './basic/fonts.scss';
@import './modules/variables.scss';
@import './modules/classes.scss';
@import './modules/mixins.scss';
 
/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #e65100;
    }
    
    .animated-icon2 span {
    background: #e3f2fd;
    }
    
    .animated-icon3 span {
    background: #f3e5f5;
    }
    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
    /* Icon 3*/
    
    .animated-icon2 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
    }
    
    .animated-icon2 span:nth-child(4) {
    top: 20px;
    }
    
    .animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    .animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }
    
    .animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }
    
    .animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
    }
    
    /* Icon 4 */
    
    .animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    }
    
    .animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
    }
    
    .animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    }
    
    .animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
    }








body{
    background: $body-color;
    font-family: $font-nino;
    //Header
    header{
        width: $percent100;
        height: 80px;
        display: $flex;
        background: $header-color;
        //check
        // position: $fixed;
        top: 0;
        left: 0;
        margin-bottom: $margin03;
        //check 
        @include flex-property(row, space-between);
        padding-left: 20px;
        .menu{
            .burger-icon{
                font-size: 1.5em;
            }
            height: $percent100;
            display: $flex;
            @include flex-property(row, flex-start);
            @include flex-align(center, center);
            .menu-options{
                margin-left: 35px;
                display: $flex;
                >div{
                    margin-right: 10px;
                }
                >div >a{
                    margin-right: $margin-5;
                }
                .menu-content{
                    display: $flex;
                    @include flex-property(row, flex-start);
                    @include flex-align(center, center);
                    li{
                        a{
                            margin-right: 10px;
                        }
                    }
                }
                .menu-contact{
                    display: $flex;
                    @include flex-align(center, center);
                }
            }
        }
        .logo{
            img{
                margin-bottom: $margin-5;
            }
            display: $flex;
            @include flex-property(column, flex-start);
            @include flex-align(center, center);
        }
        .options{
            >div:not(#cart){
                margin: 0 20px;
            }
            display: $flex;
            @include flex-property(row, space-between);
            @include flex-align(center, center);
            .cart{
                width : 76px;
                height: $percent100;
                background: $yellow-color;
                display: $flex;
                @include flex-align(center, center);
                img{
                    width: 20px;
                }
            }
            .sign{
                display: $flex;
                @include flex-align(center, center);
                img{
                    margin-right: $margin-5;
                    width: 20px;
                }
            }
        }
    }
    //main
    main{
        width: $percent90;
        margin: auto;
        .slider{
            width: $percent100;
            margin-bottom: $margin03;
            display: $flex;
            .left{
                margin-right: 1%;
                box-shadow: 0 0 20px $color-shadow;
            }
            .right{
                width: 100%/2;
                display: $flex;
                height: $percent100;
                .first{
                    margin-right: 1%;
                }
                >div{
                    box-shadow: 0 0 20px $color-shadow;
                }
            }
        }
        .posts{
            width: $percent100;
            display: $flex;
            margin-bottom: $margin03*2;
            @include flex-property(row, space-between);
            .post{
                width: 100%/3;
                margin-right: $margin02;
                height: $percent100;
                box-shadow: 0 0 20px $color-shadow;
                border-radius: 40px 40px 0 0;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    height: 80%;
                }
                .card{
                    width: $percent100;
                    @include position(relative);
                    border-radius: 40px 40px 0 0;
                    .imageover{
                        width: $percent100;
                        display: $flex;
                        @include flex-property(row, space-between);
                        @include position(absolute);
                        @include position-change(8%, 0);
                        z-index: 10;
                        .left-div{
                            display: $flex;
                            @include flex-align(center, center);
                            .rect{
                                width: 3px;
                                height: 50px;
                                background: $yellow-color;
                                margin-right: $margin-5;
                            }
                            .text{
                                .text-p{
                                    font-family: $font-phone;
                                    font-size: $font-16;
                                    margin-bottom: $margin-5;
                                }
                                .text-p2{
                                    font-size: $font-12;
                                    color: $color-gray;
                                }
                            }
                        }
                        .right-div{
                            img{
                                height: $percent60;
                                margin-right: $margin-5;
                            }
                        }
                    }
                    .card-slider{
                        width: $percent100;
                        .carousel{
                            width: $percent100;
                        }
                    }
                    .card-body{
                        display: $flex;
                        padding: 1rem;
                        h3{
                            font-family: $font-phone;
                            font-size: $font-16;
                        }
                        h6{
                            font-size: $font-14;
                            color: $color-gray;
                        }
                        .price{
                            display: $flex;
                            @include flex-property(column, space-between);
                            p{
                                color: $color-gray;
                                &:nth-child(2){
                                    color: $yellow-color;
                                }
                                text-align: end;
                            }
                            .price-p{
                                &::before{
                                    content: '487áƒš ';
                                    color: $color-gray;
                                    text-decoration: line-through;
                                    text-decoration-color: $yellow-color;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
    .banner{
        width: $percent100;
        margin-bottom: $margin03*2;
        .banner-content{
            @include position(relative);
            .banner-text{
                width: 40%;
                text-align: center;
                h2{
                    font-size: $font-45;
                    color: $header-color;
                    margin-bottom: $margin02;
                }
                .type-buttons{
                    display: $flex;
                    @include flex-property(row, space-between);
                    button{
                        background: $header-color;
                    }
                }
                @include position(absolute);
                @include position-change(50%, 50%);
                transform: translate(-50%, -50%);
            }
            img{
                width: $percent100;
            }
        }
        
    }
    .text{
        p{
            font-size: $font-29;
            text-align: center;
        }
    }
    .post-slider-section{
        display: $flex;
        @include flex-property(column, space-between);
        @include flex-align(flex-start, center);
        background: $header-color;
        box-shadow: 0 0 20px $color-shadow;
        .events-slider{
            width: 100%;
            .post-slider{
                width: 100%;
                display: inline-block;
                padding: 0 10px;
                .next, .prev{
                    font-size: 2em;
                    color: $yellow-color;
                }
                .post-wrapper{
                    width: 90%;
                    height: 400px;
                    display: $flex;
                    @include flex-property(row, space-between);
                    flex-wrap: wrap;
                    margin: 0 auto;
                    overflow: hidden;
                    .post{
                        width: 30%;
                        height: 100%;
                        margin: 0 10px;
                        .card{
                            @include position(relative);
                            .post-imageover{
                                width: 100%;
                                background: $color-gray-opacity;
                                display: $flex;
                                @include flex-property(row, space-between);
                                @include flex-align(center, center);
                                @include position(absolute);
                                @include position-change(80%, 0);
                                color: $header-color;
                                .post-rect{
                                    width: 14px;
                                    height: 50px;
                                    background: $yellow-color;
                                    margin-right: $margin-5;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .yellow-rect{
            width: 200px;
            height: 5px;
            background: $yellow-color;
            
        }
    }
    .one-slider{
        width: $percent100;
        .post-wrapper{
            width: $percent60;
            display: inline-block;
            overflow: hidden;
            .one-post{
                width: $percent100;
                height: 250px;
                display: inline-block;
                background: red;
                margin: auto;
            }
        }
    }
    .input{
        width: $percent90;
        margin: auto;
        margin-top: $margin03;
        margin-bottom: $margin03;
        display: $flex;
        @include flex-property(row, space-between);
        .form-control{
            height: 50px;
            &::placeholder{
                color: $input-text-color;
            }
        }
        #basic-addon2{
            background: $yellow-color;
            color: $header-color;
        }
        .input-group{
            width: $percent95;
            box-shadow: 0 0 20px $color-shadow;
        }
        .up-arrow{
            background: $header-color;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: $flex;
            @include flex-align(center, center);
            box-shadow: 0 0 20px $color-shadow;
        }
    }
    footer{
        background: $header-color;
        display: $flex;
        height: 150px;
        padding: 20px 40px;
        @include flex-property(row, space-between);
        .main-footer{
            display: $flex;
            height: 100%;
            @include flex-property(column, space-between);
            .top{
                font: $font-16;
                .links{
                    a{
                        font-size: $font-14;
                        &::after{
                            content: '/';
                            margin-left: 5px;
                            margin-right: 5px;
                        }
                        &:last-child::after{
                            content: '';
                        }
                    }
                    
                }
            }
        }
        >div{
            width: 50%;
        }
        .social-networks{
            display: $flex;
            @include flex-property(column, space-between);
            @include flex-align(flex-start, center);
            .icons{
                margin-top: 5%;
            }
        }
        .contact{
            display: $flex;
            height: $percent100;
            @include flex-property(column, space-between);
            @include flex-align(flex-start, flex-end);
            >div{
                height: $percent100;
            }
            p{
                font-size: $font-12;
                color: $input-text-color;
            }
        }
    }
}
