@font-face {
    font-family: 'BPG Phone Sans';
    src: url('../fonts/phoneSans-Bold/BPGPhoneSans-Bold.eot');
    src: url('../fonts/phoneSans-Bold/BPGPhoneSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/phoneSans-Bold/BPGPhoneSans-Bold.woff2') format('woff2'),
        url('../fonts/phoneSans-Bold/BPGPhoneSans-Bold.woff') format('woff'),
        url('../fonts/phoneSans-Bold/BPGPhoneSans-Bold.ttf') format('truetype'),
        url('../fonts/phoneSans-Bold/BPGPhoneSans-Bold.svg#BPGPhoneSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aaargh';
    src: url('../fonts/Aaargh/AaarghNormal.eot');
    src: url('../fonts/Aaargh/AaarghNormal.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aaargh/AaarghNormal.woff2') format('woff2'),
        url('../fonts/Aaargh/AaarghNormal.woff') format('woff'),
        url('../fonts/Aaargh/AaarghNormal.ttf') format('truetype'),
        url('../fonts/Aaargh/AaarghNormal.svg#AaarghNormal') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.eot');
    src: url('../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.woff2') format('woff2'),
        url('../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.woff') format('woff'),
        url('../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.ttf') format('truetype'),
        url('../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bradley Hand ITC';
    src: url('../fonts/BradleyHandITC/BradleyHandITC.eot');
    src: url('../fonts/BradleyHandITC/BradleyHandITC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BradleyHandITC/BradleyHandITC.woff2') format('woff2'),
        url('../fonts/BradleyHandITC/BradleyHandITC.woff') format('woff'),
        url('../fonts/BradleyHandITC/BradleyHandITC.ttf') format('truetype'),
        url('../fonts/BradleyHandITC/BradleyHandITC.svg#BradleyHandITC') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

