//ninomtavruli font
$font-nino : 'BPG Nino Mtavruli';
$font-phone : 'BPG Phone Sans';
$font-12 : 12px;
$font-14 : 14px;
$font-16 : 16px;
$font-29 : 29px;
$font-45 : 45px;
//colors
$body-color : #F8F9FB;
$header-color : white;
$yellow-color :#FEC21E;
$color-gray : rgb(145, 143, 143);
$color-gray-opacity : hsla(0, 100%, 90%, 0.3);;
$color-shadow : rgb(202, 202, 202);
$input-text-color: #E1E1E1;
//width
$percent100 : 100%;
$percent95 : 95%;
$percent90 : 90%;
$percent60 : 60%;
$width02:100%/2;
//margin
$margin-5 : 5px;
$margin02 : 8px;
$margin03 : 30px;

//box shadow
$shadow: 0 0 20px 2px rgb(187, 187, 187);
//flex
$flex : flex;
//mixin
@mixin flex-property($direction, $justify) {
    flex-direction: $direction;
    justify-content: $justify;
}
@mixin flex-align($horizontal, $vertical) {
    justify-content: $horizontal;
    align-items: $vertical;
}

//positions
$fixed : fixed;
@mixin position($property) {
    position: $property;
}
@mixin position-change($top, $left) {
    top: $top;
    left: $left;
}