@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: black; }

@font-face {
  font-family: 'BPG Phone Sans';
  src: url("../fonts/phoneSans-Bold/BPGPhoneSans-Bold.eot");
  src: url("../fonts/phoneSans-Bold/BPGPhoneSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/phoneSans-Bold/BPGPhoneSans-Bold.woff2") format("woff2"), url("../fonts/phoneSans-Bold/BPGPhoneSans-Bold.woff") format("woff"), url("../fonts/phoneSans-Bold/BPGPhoneSans-Bold.ttf") format("truetype"), url("../fonts/phoneSans-Bold/BPGPhoneSans-Bold.svg#BPGPhoneSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Aaargh';
  src: url("../fonts/Aaargh/AaarghNormal.eot");
  src: url("../fonts/Aaargh/AaarghNormal.eot?#iefix") format("embedded-opentype"), url("../fonts/Aaargh/AaarghNormal.woff2") format("woff2"), url("../fonts/Aaargh/AaarghNormal.woff") format("woff"), url("../fonts/Aaargh/AaarghNormal.ttf") format("truetype"), url("../fonts/Aaargh/AaarghNormal.svg#AaarghNormal") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'BPG Nino Mtavruli';
  src: url("../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.eot");
  src: url("../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.woff2") format("woff2"), url("../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.woff") format("woff"), url("../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.ttf") format("truetype"), url("../fonts/ninomtavruliBold/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Bradley Hand ITC';
  src: url("../fonts/BradleyHandITC/BradleyHandITC.eot");
  src: url("../fonts/BradleyHandITC/BradleyHandITC.eot?#iefix") format("embedded-opentype"), url("../fonts/BradleyHandITC/BradleyHandITC.woff2") format("woff2"), url("../fonts/BradleyHandITC/BradleyHandITC.woff") format("woff"), url("../fonts/BradleyHandITC/BradleyHandITC.ttf") format("truetype"), url("../fonts/BradleyHandITC/BradleyHandITC.svg#BradleyHandITC") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  background: #F8F9FB;
  font-family: "BPG Nino Mtavruli"; }
  body header {
    width: 100%;
    height: 80px;
    display: flex;
    background: white;
    top: 0;
    left: 0;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px; }
    body header .menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      justify-content: center;
      align-items: center; }
      body header .menu .burger-icon {
        font-size: 1.5em; }
      body header .menu .menu-options {
        margin-left: 35px;
        display: flex; }
        body header .menu .menu-options > div {
          margin-right: 10px; }
        body header .menu .menu-options > div > a {
          margin-right: 5px; }
        body header .menu .menu-options .menu-contact {
          display: flex;
          justify-content: center;
          align-items: center; }
    body header .logo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-content: center;
      align-items: center; }
      body header .logo img {
        margin-bottom: 5px; }
    body header .options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      justify-content: center;
      align-items: center; }
      body header .options > div:not(#cart) {
        margin: 0 20px; }
      body header .options .cart {
        width: 76px;
        height: 100%;
        background: #FEC21E;
        display: flex;
        justify-content: center;
        align-items: center; }
        body header .options .cart img {
          width: 20px; }
      body header .options .sign {
        display: flex;
        justify-content: center;
        align-items: center; }
        body header .options .sign img {
          margin-right: 5px;
          width: 20px; }
  body main {
    width: 90%;
    margin: auto; }
    body main .slider {
      width: 100%;
      margin-bottom: 30px;
      display: flex; }
      body main .slider .left {
        margin-right: 1%;
        box-shadow: 0 0 20px #cacaca; }
      body main .slider .right {
        width: 100%/2;
        display: flex;
        height: 100%; }
        body main .slider .right .first {
          margin-right: 1%; }
        body main .slider .right > div {
          box-shadow: 0 0 20px #cacaca; }
    body main .posts {
      width: 100%;
      display: flex;
      margin-bottom: 60px;
      flex-direction: row;
      justify-content: space-between; }
      body main .posts .post {
        width: 100%/3;
        margin-right: 8px;
        height: 100%;
        box-shadow: 0 0 20px #cacaca;
        border-radius: 40px 40px 0 0; }
        body main .posts .post:last-child {
          margin-right: 0; }
        body main .posts .post img {
          height: 80%; }
        body main .posts .post .card {
          width: 100%;
          position: relative;
          border-radius: 40px 40px 0 0; }
          body main .posts .post .card .imageover {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top: 8%;
            left: 0;
            z-index: 10; }
            body main .posts .post .card .imageover .left-div {
              display: flex;
              justify-content: center;
              align-items: center; }
              body main .posts .post .card .imageover .left-div .rect {
                width: 3px;
                height: 50px;
                background: #FEC21E;
                margin-right: 5px; }
              body main .posts .post .card .imageover .left-div .text .text-p {
                font-family: "BPG Phone Sans";
                font-size: 16px;
                margin-bottom: 5px; }
              body main .posts .post .card .imageover .left-div .text .text-p2 {
                font-size: 12px;
                color: #918f8f; }
            body main .posts .post .card .imageover .right-div img {
              height: 60%;
              margin-right: 5px; }
          body main .posts .post .card .card-slider {
            width: 100%; }
            body main .posts .post .card .card-slider .carousel {
              width: 100%; }
          body main .posts .post .card .card-body {
            display: flex;
            padding: 1rem; }
            body main .posts .post .card .card-body h3 {
              font-family: "BPG Phone Sans";
              font-size: 16px; }
            body main .posts .post .card .card-body h6 {
              font-size: 14px;
              color: #918f8f; }
            body main .posts .post .card .card-body .price {
              display: flex;
              flex-direction: column;
              justify-content: space-between; }
              body main .posts .post .card .card-body .price p {
                color: #918f8f;
                text-align: end; }
                body main .posts .post .card .card-body .price p:nth-child(2) {
                  color: #FEC21E; }
              body main .posts .post .card .card-body .price .price-p::before {
                content: '487ლ ';
                color: #918f8f;
                text-decoration: line-through;
                text-decoration-color: #FEC21E; }
  body .banner {
    width: 100%;
    margin-bottom: 60px; }
    body .banner .banner-content {
      position: relative; }
      body .banner .banner-content .banner-text {
        width: 40%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        body .banner .banner-content .banner-text h2 {
          font-size: 45px;
          color: white;
          margin-bottom: 8px; }
        body .banner .banner-content .banner-text .type-buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          body .banner .banner-content .banner-text .type-buttons button {
            background: white; }
      body .banner .banner-content img {
        width: 100%; }
  body .text p {
    font-size: 29px;
    text-align: center; }
  body .post-slider-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
    background: white; }
    body .post-slider-section .events-slider {
      width: 100%;
      height: 530px; }
      body .post-slider-section .events-slider .post-slider {
        width: 100%;
        display: inline-block;
        padding: 0 10px; }
        body .post-slider-section .events-slider .post-slider .next, body .post-slider-section .events-slider .post-slider .prev {
          font-size: 2em;
          color: #FEC21E; }
        body .post-slider-section .events-slider .post-slider .post-wrapper {
          width: 90%;
          height: 400px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 0 auto;
          overflow: hidden; }
          body .post-slider-section .events-slider .post-slider .post-wrapper .post {
            width: 30%;
            height: 100%;
            margin: 0 10px; }
            body .post-slider-section .events-slider .post-slider .post-wrapper .post .card {
              position: relative; }
              body .post-slider-section .events-slider .post-slider .post-wrapper .post .card .post-imageover {
                width: 100%;
                background: rgba(255, 204, 204, 0.3);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 80%;
                left: 0;
                color: white; }
                body .post-slider-section .events-slider .post-slider .post-wrapper .post .card .post-imageover .post-rect {
                  width: 14px;
                  height: 50px;
                  background: #FEC21E;
                  margin-right: 5px; }
    body .post-slider-section .yellow-rect {
      width: 200px;
      height: 5px;
      background: #FEC21E; }
